@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,600;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 22px;
}

$heading: (h1,40px,48px,700),(h2,32px,38px,700),(h3,28px,32px,600),(h4,40px,48px,700),(h5,24px,28px,500),(h6,16px,22px,400),(h7,14px,22px,400);

@each $title,$font_size,$line_height,$font_weight in $heading {
    #{$title}{
        font-size: $font_size;
        line-height: $line_height;
        font-weight: $font_weight;
    }
}

$text_align: center,left,right,justify;
@each $i in $text_align {
    .text-#{$i}{
        text-align: $i;
    }
    
}