.footer-area {
	background-color: #333;
	color: #fff;
	text-align: center;
	text-transform: capitalize;
    p{
        margin-bottom: 15px;
    }
     a {
        color: #fff;
        margin: 10px;
    }
}